@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jobbhanteraren</h1>
    <p class="lead">Här kan du hantera dina ansökningar.</p>
    <p><a href="Ställ lite frågor och svar.." class="btn btn-primary btn-large">Vanliga frågor &raquo;</a></p>
    <p><a href="Skriv lite instruktioner.." class="btn btn-primary btn-large">Instruktioner &raquo;</a></p>
    <p><a href="Länk till supportsidan" class="btn btn-primary btn-large">Support &raquo;</a></p>
</div>
